auto_mix_prep==0.2.0
beautifulsoup4==4.11.1
ipython==8.8.0
lmdb==1.4.0
matplotlib==3.5.2
neptune-client
numpy==1.21.5
optuna==3.1.0
Pillow==9.4.0
PyYAML==6.0
scikit_image==0.19.2
scikit_learn==1.2.0
six==1.16.0
skimage==0.0
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.1
